<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Dashboard</title>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            rel="stylesheet"
    />
    <script
            crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.min.js@3.5.1/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"
            integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"
            integrity="sha256-DIsAGD2EF8Qq2PCH9yzX/yt9FliJfWf+aGcdgR6tKwo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"
            integrity="sha256-tOhXNe/Ue+TjR33s/CryFYOGMwNfkTjTuvM4LEOAHzc=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const DateTime = luxon.DateTime;
        const groupBy = function (xs, key) {
            return xs.reduce(function (rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
            }, {});
        };

        const dashboard = {
            userId: '{{requestor.id}}',
            ws: null,
            host: window.location.hostname,
            port: 8000,
            self: false,
            loadingData: false,
            chart: null,
            data: [],
            queryParams: {
                action: "get",
                max: 0
            },

            init: function () {
                self = this;
                this.ws = new WebSocket('ws://' + self.host + ':' + self.port + '/ws/transaction/flow?userid=' + self.userId);
                this.ws.onopen = function () {
                    console.log('Connected to server');
                    self.setConnectionBadge(true);
                    self.initChart()
                };
                this.ws.onerror = function (evt) {
                    alert("Error: " + evt.data);
                    self.setConnectionBadge(false);
                };
                this.ws.onmessage = function (event) {
                    $('#loading').fadeIn('fast').delay(1000).fadeOut('fast');
                    let data = JSON.parse(event.data);
                    const transactions = data.results;
                    self.queryParams.max = data.max;
                    self.data = transactions;
                    const toAdd = transactions.filter(function (transaction) {
                        return !self.transactionRowExists(transaction.id);
                    });
                    let existingCount = $('#transactions tbody tr').length;
                    toAdd.forEach(function (transaction) {
                        const row = $(self.mapTransactionRow(++existingCount, transaction));
                        row.prependTo('#transactions tbody');
                        row.fadeIn();
                        self.addChartLabel(transaction.date);
                    });

                    const tranGroups = groupBy(transactions, 'type');
                    const tgMapped = Object.keys(tranGroups).map(key => {

                        return {
                            type: key,
                            data: tranGroups[key].reduce((r, t) => {
                                r.push({
                                    x: DateTime.fromISO(t.date),
                                    y: t.amount
                                });
                                return r;
                            }, [])
                        };
                    });

                    tgMapped.forEach(tgm => {
                        self.addChartDataset(tgm.type, tgm.data, tgm.type);
                    });
                };
                this.ws.onclose = function () {
                    console.log('Disconnected from server');
                    self.setConnectionBadge(false);
                };

                $('#actions a').on('click', function (e) {
                    const paramsKey = $(this).attr('data-value');
                    const paramsId = $(this).attr('data-params');

                    const innerHtml = dashboard.innerParams(paramsId);
                    const container = dashboard.paramsContainer(innerHtml, paramsKey);
                    $('#modalContainer').html(container);

                    const modal = document.getElementById('paramsModel');
                    const bs = new bootstrap.Modal(modal, {keyboard: false});
                    bs.show();
                });
            },
            initChart: function () {
                if (self.chart)
                    return;
                const ctx = document.getElementById('chart').getContext('2d');
                self.chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: []
                    },
                    options: {
                        responsive: true,
                        interactions: {
                            mode: 'nearest'
                        },
                         events: ['click'],
                        onClick: function (e, clickedElements) {
                            if(clickedElements.length === 0) {
                                return;
                            }
                            const {datasetIndex, index} = clickedElements[0];
                            const ds = self.chart.data.datasets[datasetIndex]
                            const item = ds.data[index];
                            const dt = item.x.toISODate();
                            const amt = item.y;
                            const match = self.data.filter(function (transaction) {
                                return transaction.type === ds.label && transaction.date === dt && transaction.amount === amt;
                            })[0];
                            //console.log(match);
                            const row = $(`#transactions tbody tr[id="tran-${match.id}"]`);
                            const existingClass = row.attr("class");
                            row.removeClass(existingClass);
                            row.get(0).scrollIntoView({ behavior: 'smooth', block: 'center'});

                            setTimeout(function () {
                                $(`#transactions tbody tr[id="tran-${match.id}"]`).removeClass("table-success");
                                $(`#transactions tbody tr[id="tran-${match.id}"]`).addClass(existingClass);
                            }, 1500);
                        },
                        scales: {
                            y: {
                                min: 0,
                                max: 100000,
                                type: 'logarithmic'
                            },
                            x: {
                                type: 'time',
                                min: new Date(2020, 1, 1).valueOf(),
                                max: new Date().valueOf(),
                                time: {
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'MMM DD'
                                    }
                                }
                            }
                        },
                        legend: {
                            display: true,
                            position: 'top'
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Transactions Chart'
                            },
                            tooltip: {
                                enabled: false,
                            }
                        }
                    }
                });
            },
            loadData: function (event) {
                if (this.loadingData) {
                    return;
                }
                this.loadingData = true;

                let data = {
                    "userId": this.userId,
                    "stream": true
                };

                data = Object.assign(data, this.queryParams);

                this.ws.send(JSON.stringify(data));
            },
            setConnectionBadge: function (connected) {
                if (connected) {
                    $('#connection-badge').removeClass('bg-danger').addClass('bg-success');
                } else {
                    $('#connection-badge').removeClass('bg-success').addClass('bg-danger');
                }
            },
            transactionRowExists: function (transactionId) {
                return $('#tran-' + transactionId).length > 0;
            },
            mapTransactionRow: function (count, transaction) {
                let row = "<tr " + (transaction.type === "debit" ? "class='table-secondary'" : "class='table-primary'") + " id=tran-" + transaction.id + " style='display: none'>";
                row += "<td>" + count + "</td>";
                row += "<td>" + transaction.id + "</td>";
                row += "<td>" + transaction.user_id + "</td>";
                row += "<td>" + transaction.amount + "</td>";
                row += "<td>" + transaction.currency + "</td>";
                row += "<td>" + transaction.description + "</td>";
                row += "<td>" + transaction.category + "</td>";
                row += "<td>" + transaction.type + "</td>";
                row += "<td>" + transaction.date + "</td>";
                row += "</tr>";
                return row;
            },

            innerParams: function (key) {
                switch (key) {
                    case "paramsType":
                        return `<div className="mb-3 params" id="paramsType">
                        <label className="form-label" htmlFor="paramsType.type">Transaction Type</label>
                        <select className="form-select" id="paramsType.type">
                            <option selected value="debit">Debit</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>`
                    case "paramsAmount":
                        return `<div class="mb-3 params" id="paramsAmount">
                    <label class="form-label" for="paramsAmount.amount">Amount</label>
                    <input
                            aria-label="Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmount.amount"
                            min="0.00"

                            step="0.01"
                            type="number"
                    /> <label class="form-label" for="paramsAmount.currency">Currency </label>
                    <select
                            aria-label="Select Currency"
                            class="form-select"
                            id="paramsAmount.currency"
                            >
                        <option selected value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="CAD">CAD</option>
                        <option value="AUD">AUD</option>
                        <option value="NZD">NZD</option>
                        <option value="CHF">CHF</option>
                        <option value="HKD">HKD</option>
                        <option value="SGD">SGD</option>
                        <option value="SEK">SEK</option>
                    </select>
                </div>`;
                    case "paramsCurrency":
                        return `<div class="mb-3 params" id="paramsCurrency">
                    <label class="form-label" for="paramsCurrency.currency">Currency</label>
                    <select
                            aria-label="Select Currency"
                            class="form-select"
                            id="paramsCurrency.currency"
                            >
                        <option selected value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="CAD">CAD</option>
                        <option value="AUD">AUD</option>
                        <option value="NZD">NZD</option>
                        <option value="CHF">CHF</option>
                        <option value="HKD">HKD</option>
                        <option value="SGD">SGD</option>
                        <option value="SEK">SEK</option>
                    </select>
                </div>`;
                    case "paramsCategory":
                        return `<div class="mb-3 params" id="paramsCategory">
                    <label class="form-label" for="paramsCategory.category">Category</label>
                    <input
                            aria-label="Category"
                            autocomplete="on"
                            class="form-control"
                            id="paramsCategory.category"

                            type="text"
                    />
                </div>`;
                    case "paramsAmountRange":
                        return `<div class="mb-3 params" id="paramsAmountRange">
                    <label class="form-label" for="paramsAmountRange.min">Min Amount</label>
                    <input
                            aria-label="Min Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmountRange.min"
                            min="0.00"

                            step="0.01"
                            type="number"
                    />
                    <label class="form-label" for="paramsAmountRange.max">Max Amount</label>
                    <input
                            aria-label="Max Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmountRange.max"
                            min="0.00"

                            step="0.01"
                            type="number"
                    />
                </div>`
                    case "paramsDateRange":
                        return `<div class="mb-3 params" id="paramsDateRange">
                    <label class="form-label" for="paramsDateRange.min">Min Date</label>
                    <input
                            aria-label="Min Date"
                            autocomplete="on"
                            class="form-control"
                            id="paramsDateRange.min"

                            type="date"/>
                    <label class="form-label" for="paramsDateRange.max">Max Date</label>
                    <input
                            aria-label="Max Date"
                            autocomplete="on"
                            class="form-control"
                            id="paramsDateRange.max"

                            type="date"/>
                </div>`

                }
            },

            paramsContainer: function (innerHtml, action) {
                return `<div class="modal fade" id="paramsModel" tabindex="-1" aria-labelledby="paramsModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paramsModelLabel">Query Params</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ${innerHtml}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="dashboard.saveParams(this)" data-action="${action}">Query</button>
      </div>
    </div>
  </div>
</div>`;
            },
            saveParams: function (event) {
                let params = {
                    action: event.getAttribute("data-action")
                };

                $('#paramsModel input,select').each(function () {
                    const id = $(this).attr('id');
                    const key = id.split('.')[1];
                    params[key] = $(this).val();
                });
                self.queryParams = params;
                const modal = document.getElementById('paramsModel');
                const bs = bootstrap.Modal.getInstance(modal);
                bs.hide();
                self.loadData();
            },


            addChartLabel: function (label) {
                if (self.chart.data.labels.indexOf(label) === -1) {
                    self.chart.data.labels.push(label);
                }
            },

            addChartDataset: function (label, data, type) {
                let dataset = {
                    label: label,
                    data: data,
                    borderWidth: 1,
                    pointStyle: 'circle',
                    pointRadius: 10,
                    pointHoverRadius: 15,
                    parsing: false,
                    normalized: true
                };

                if (type === "credit") {
                    dataset.borderColor = "rgb(75,98,192)";
                    dataset.backgroundColor = "rgba(75, 192, 192, 0.2)";
                } else if (type === "debit") {
                    dataset.borderColor = "rgba(255, 99, 132, 1)";
                    dataset.backgroundColor = "rgba(255, 99, 132, 0.2)";
                }

                const existingDataset = self.chart.data.datasets.find(d => d.label === label);
                if (!existingDataset) {
                    self.chart.data.datasets.push(dataset);
                } else {
                    const idx = self.chart.data.datasets.indexOf(existingDataset);
                    existingDataset.data = data;
                    self.chart.data.datasets[idx] = existingDataset;
                }

                self.chart.update()
            }
        };

    </script>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Nothing LLC</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/app/transactions/create">Create</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav">
        <div class="nav-item">
      <span class="position-absolute bottom-0 start-75 translate-middle p-2 bg-danger border border-light rounded-circle"
            id="connection-badge">
        <span class="visually-hidden">Connection Status</span>
    </span>
        </div>
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Welcome {{requestor.name}}
            </a>
        </div>
    </div>
</header>

<div class="container-fluid" id="container">
    <div class="row">
        <main class="col-md-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard
                    <div class="spinner-border text-primary" role="status" id="loading" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-4">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dataMenu"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Data View
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dataMenu" id="actions">
                                <li><span class="dropdown-item-text">Select Data Query</span></li>
                                <li><a class="dropdown-item active" data-value="get" data-params="paramsGet">Get</a>
                                </li>
                                <li><a class="dropdown-item" data-value="get_by_type" data-params="paramsType">Get By
                                    Transaction Type</a></li>
                                <li><a class="dropdown-item" data-value="get_by_amount" data-params="paramsAmount">Get
                                    By Amount</a></li>
                                <li><a class="dropdown-item" data-value="get_by_currency" data-params="paramsCurrency">Get
                                    By Currency</a></li>
                                <li><a class="dropdown-item" data-value="get_by_amount_range"
                                       data-params="paramsAmountRange">Get By Amount Range</a></li>
                                <li><a class="dropdown-item" data-value="get_by_category" data-params="paramsCategory">Get
                                    By Category</a></li>
                                <li><a class="dropdown-item" data-value="get_by_date_range"
                                       data-params="paramsDateRange">Get By Date Range</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-sm btn-success" onclick="dashboard.loadData();">Load
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
                <div id="modalContainer"></div>
            </div>
            <canvas class="my-4 w-100" id="chart" width="900" height="380"></canvas>
            <h2>Transactions</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover" id="transactions">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>User Id</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody id="transactions-body">
                    </tbody>

                </table>
            </div>
        </main>

    </div>


</div>
<script>
    $.when($.ready).then(function (data) {
        dashboard.init();
    });
</script>

</body>
</html>