<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Transaction View</title>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            rel="stylesheet"
    />
    <script
            crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Transaction Viewer</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="mb-3">
            <label class="form-label" for="userId">User Id</label>
            <input
                    aria-label="User Id"
                    autocomplete="off"
                    class="form-control"
                    id="userId"
                    placeholder="User Id"
                    required
                    type="text" value=""/>
        </div>
        <br/>
        <div id="connectArea">
            <button class="btn btn-primary" onclick="connect(event)">Connect</button>
            <span class="badge bg-success" id="isconnected" style="display: none;">Connected</span>
            <span class="badge bg-danger" id="isdisconnected">Disconnected</span>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <label class="form-label" for="action">Action</label>
            <select class="form-control" id="action">
                <option selected value="get">Get</option>
                <option value="get_by_type" data-params="paramsType">Get By Transaction Type</option>
                <option value="get_by_amount" data-params="paramsAmount">Get By Amount</option>
                <option value="get_by_currency" data-params="paramsCurrency">Get By Currency</option>
                <option value="get_by_amount_range" data-params="paramsAmountRange">Get By Amount Range</option>
                <option value="get_by_category" data-params="paramsCategory">Get By Category</option>
                <option value="get_by_date_range" data-params="paramsDateRange">Get By Date Range</option>
            </select>
            <br/>

            <form onsubmit="send(event)">
                <div class="mb-4">
                <div class="mb-3 params" id="paramsType" style="display: none">
                    <label class="form-label" for="paramsType.type">Transaction Type</label>
                    <select class="form-select" id="paramsType.type">
                        <option selected value="debit">Debit</option>
                        <option value="credit">Credit</option>
                    </select>
                </div>
                <div class="mb-3 params" id="paramsAmount" style="display: none">
                    <label class="form-label" for="paramsAmount.amount">Amount</label>
                    <input
                            aria-label="Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmount.amount"
                            min="0.00"

                            step="0.01"
                            type="number"
                    /> <label class="form-label" for="paramsAmount.currency">Currency </label>
                    <select
                            aria-label="Select Currency"
                            class="form-select"
                            id="paramsAmount.currency"
                            >
                        <option selected value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="CAD">CAD</option>
                        <option value="AUD">AUD</option>
                        <option value="NZD">NZD</option>
                        <option value="CHF">CHF</option>
                        <option value="HKD">HKD</option>
                        <option value="SGD">SGD</option>
                        <option value="SEK">SEK</option>
                    </select>
                </div>
                <div class="mb-3 params" id="paramsCurrency" style="display: none;">
                    <label class="form-label" for="paramsCurrency.currency">Currency</label>
                    <select
                            aria-label="Select Currency"
                            class="form-select"
                            id="paramsCurrency.currency"
                            >
                        <option selected value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="CAD">CAD</option>
                        <option value="AUD">AUD</option>
                        <option value="NZD">NZD</option>
                        <option value="CHF">CHF</option>
                        <option value="HKD">HKD</option>
                        <option value="SGD">SGD</option>
                        <option value="SEK">SEK</option>
                    </select>
                </div>
                <div class="mb-3 params" id="paramsCategory" style="display: none">
                    <label class="form-label" for="paramsCategory.category">Category</label>
                    <input
                            aria-label="Category"
                            autocomplete="on"
                            class="form-control"
                            id="paramsCategory.category"

                            type="text"
                    />
                </div>
                <div class="mb-3 params" id="paramsAmountRange" style="display: none">
                    <label class="form-label" for="paramsAmountRange.min">Min Amount</label>
                    <input
                            aria-label="Min Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmountRange.min"
                            min="0.00"

                            step="0.01"
                            type="number"
                    />
                    <label class="form-label" for="paramsAmountRange.max">Max Amount</label>
                    <input
                            aria-label="Max Amount"
                            autocomplete="on"
                            class="form-control"
                            id="paramsAmountRange.max"
                            min="0.00"

                            step="0.01"
                            type="number"
                    />
                </div>
                <div class="mb-3 params" id="paramsDateRange" style="display: none">
                    <label class="form-label" for="paramsDateRange.min">Min Date</label>
                    <input
                            aria-label="Min Date"
                            autocomplete="on"
                            class="form-control"
                            id="paramsDateRange.min"

                            type="date"/>
                    <label class="form-label" for="paramsDateRange.max">Max Date</label>
                    <input
                            aria-label="Max Date"
                            autocomplete="on"
                            class="form-control"
                            id="paramsDateRange.max"

                            type="date"/>
                </div>
            </div>
                <button class="btn btn-primary" id="btnAction" type="submit">Fetch</button>
            </form>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Type</th>
                    <th scope="col">Timestamp</th>
                </tr>
                </thead>
                <tbody id="transactionTable">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    let ws = null;
    const host = window.location.hostname;

    $.when($.ready).then(function (data) {
        $('#action').change(function () {
            const option = $(this).find('option:selected');
                        var params = $(option).data('params');
                        $('.params').hide();
                        $('.params').find('input,select').attr('required', false);
                        var o = $('#' + params);
                        $(o).show();
            $(o).find('input,select').attr('required', true);
        })
    });

    function connect(event) {
        const userId = $("#userId").val();
        if (userId === "") {
            alert("Please enter user id");
            return;
        }
        ws = new WebSocket("ws://" + host + ":8000/ws/transaction/flow?userid=" + userId);
        ws.onopen = function (event) {
            $("#isconnected").show();
            $("#isdisconnected").hide();
        };
        ws.onclose = function (event) {
            $("#isconnected").hide();
            $("#isdisconnected").show();
        };
        ws.onerror = function (event) {
            $("#isconnected").hide();
            $("#isdisconnected").show();
            alert("Error: " + event.data);
        };
        ws.onmessage = function (event) {
            const data = JSON.parse(event.data);
            const transactions = data.results;
            let count = 1;
            const rows = transactions.map(function (transaction) {
                let row = "<tr " + (transaction.type === "debit" ? "class='table-secondary'" : "class='table-primary'") + " id='" + transaction.id + "'>";
                row += "<th scope=\"row\">" + count + "</th>";
                row += "<td>" + transaction.id + "</td>";
                row += "<td>" + transaction.user_id + "</td>";
                row += "<td>" + transaction.amount + "</td>";
                row += "<td>" + transaction.currency + "</td>";
                row += "<td>" + transaction.description + "</td>";
                row += "<td>" + transaction.category + "</td>";
                row += "<td>" + transaction.type + "</td>";
                row += "<td>" + transaction.timestamp + "</td>";
                row += "</tr>";
                count++;
                return row
            });
            $("#transactionTable").html(rows);
        };
        event.preventDefault()
    }

    function send(event) {
        const action = $("#action");
        const userId = $("#userId").val();
        const params = $(action).find('option:selected').data('params');

        let data = {
            "action": action.val(),
            "userId": userId
        };

        $('#' + params).children('input[required],select[required]').each(function () {
            data[$(this).attr('id').replace(params,'').replace('.','').trim()] = $(this).val();
        });

        ws.send(JSON.stringify(data));
        event.preventDefault()
    }

</script>
</body>
</html>